<br>
<br>
<div class="card text-center w-75">
 <div class="card-header">
 <br>
<h3>Login</h3><br>
</div>
 <div class="card-body">
<form action="/login" method="POST">
<div class="form-group">
<div class="text-left">
    <label for="username">Username:</label>
    <input type="username" class="form-control" id="username">
  </div>
  </div>
  <div class="form-group">
  <div class="text-left">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button><br>
  </div>
  </div>
  <br>
  </div>
  </div>
</form>