<br>
<br>
<h3>Login</h3><br>
<form action="/login" method="POST">
  <label>Username:</label>
  <td class="textbox">
    <input type="text" name="username" id=":username"><br><br>
  </td>
  <td class="col-1">
  <label>Password:</label>
  </td>
  <td class="textbox">
    <input type="password" name="password" id=":password">
  </td>
  <br>
  <br>
   <input class="submit" type="submit" value="Log In" id="submit">
</form>