<br>
<h3>Enter your details to Sign Up</h3>
<br>
<form action="/signup" method="post">
        <label>Username:</label>
      <td class="textbox">
        <input type="text" name="username" id=":username">
      </td>
        <label>Email:</label>
      <td class="textbox">
        <input type="text" name="email" id=":email">
      </td>
      <td class="col-1">
        <label>Password:</label>
      </td>
      <td class="textbox">
        <input type="password" name="password" id=":password">
      </td>
      <br>
      <input class="submit" type="submit" value="Sign Up" id="submit">
</form>

<p>
  <a href="/login">Already have an account? Log in here.</a>
</p>