<h1>Sign Up</h1>
<p>
  Create a username and password and start making your own gifts wishlist.
</p>
<form action="/signup" method="post">

  <table>
    <tr>
      <td class="col-1">
        <label>Username:</label>
      </td>
      <td class="textbox">
        <input type="text" name="username" id=":username">
      </td>
    </tr>
    <tr>
      <td class="col-1">
        <label>Email:</label>
      </td>
      <td class="textbox">
        <input type="text" name="email" id=":email">
      </td>
    </tr>
    <tr>
      <td class="col-1">
        <label>Password:</label>
      </td>
      <td class="textbox">
        <input type="password" name="password" id=":password">
      </td>
    </tr>
  </table>
  <p>
    <input class="submit" type="submit" value="Sign Up" id="submit">
  </p>
</form>

<p>
  <a href="/login">If you already have an account, log in here!</a>
</p>