<h3>Sign Up</h3>
<br>
<p>
  Create a username and a password and start making your own gifts wishlist.
</p>
<br>
<form action="/signup" method="post">
<div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button><br>
  <br>
</form>