<p>Welcome, <%= current_user.username %>!</p><br>
<p>Here are the items from your wishlist:</p><br>
<% @items.each do |item| %>
<a href="items/<%= item.id %>"><%= item.name %></a><br>
<br>
<% end %>
<p>Click on an item you'd like to learn more about or <a href="/items/new">add a new item.</p>
<a href="/categories"> Click here to manage your item categories. </a>
