<div class="card">
<div class="card-body">
<h3 class="card-title">Welcome, <%= current_user.username %>!</h3><br>
 <p class="card-text">Here are the items from your wishlist:</p><br>
<% @items.each do |item| %>
<a href="items/<%= item.id %>"><%= item.name %></a><br>
<br>
<% end %>
<p>Click on an item you'd like to learn more about or <a href="/items/new">add a new item.</p>
<a href="/categories"> Click here to manage your item categories. </a>
</div>
</div>
