<% if logged_in? %>
  <form action='/items' method="post">
    Name:
    <input type="text" name="name"><br>
    <br>
    Price:
    <input type="integer" name="price"><br>
    <br>
    Sold at:
    <input type="text" name="store"><br>
    <br>
    Category:
    <input type="radio" name="category"><br>
    <br>
    <br>
    <input type="submit" name="submit" id="submit">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Add Items </h1>
  <% end %>