<div class="card">
<div class="card-body">
<% if logged_in? %>
  <form action='/items' method="post">
    Name:
    <input type="text" name="name"><br>
    <br>
    Price:
    <input type="integer" name="price"><br>
    <br>
    Sold at:
    <input type="text" name="store"><br>
    <br>
    Category:
    <br>
    <br>
    <% @categories.each do |c| %>
    <input type="checkbox" name="category_id" id="<%= c.id %>" value="<%= c.id %>"><%= c.name %><br>
    <br>
    <% end %>
    <br>
    <input type="submit" name="submit" id="submit">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Add Items </h1>
  <% end %>
  </div>
</div>