<br>
<div class="card">
<div class="card-body">
It looks like this category is currently empty... 
<br>
<a href="/items/new">Click here to add a new item to your wishlist</a>
<br>
<a href="/categories"> Go back to the list of categories</a><br>
</div>
</div>
