<div class="container">
<h1> Welcome to Gifts Wishlist </h1>
<nav>
  <% if logged_in? %>

    <a href="/items/new"> Create your own wishlist </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
 <p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
 <%end %>
 </nav>
</div>
