<div class="container">
<h1> Welcome to Gifts Wishlist </h1><br>
<nav>
  <% if logged_in? %>
<p>Welcome, <%=current_user.username %></p>
    <a href="/items/new"> Create your own wishlist </a><br>
    <br>
    <a href="/logout"> Log Out </a>

  <% else %>
 <p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
 <%end %>
 </nav>
</div>
